.FlightRow {
    align-self: stretch;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 1px;
    padding-bottom: 4px;
    background: white;
    border-radius: 4px;
 
    align-items: center;
    gap: 44px;
    display: flex;
    flex-direction: row;

Height:100%;
width:100%;
    
  }